################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/collisions/v15/ipch/AutoPCH/1e1ef2e484ee5856/WINMAIN.ipch
*.ipch
*.opendb
.tlog
.db
.suo
.log